body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0;
    padding: 0;
    margin:0
}

p{
    padding:5px;
}

header{
    color:white;
    z-index:-1;
    position:absolute;
    top: 0;
    width:100%;
    background-color: rgb(26, 37, 37);
    max-height: 120px;
}


h1{
    position:static;
    color:black;
    text-align: center;
    font-size: 50px;
    font-style:oblique;

    ;
}

main{
    margin-top: 100px;
    position:absolute;
    background-color: rgb(89, 128, 146);
    max-width: 85%;
    height:100%
}

main p{
    font-size: 18px;
}

.MainHeading{
    font-size:30px;
    color: rgb(255, 255, 255);
    text-align:center;
    font-style:oblique;
}

aside{
    margin-top: 100px;
    height:100%;
    max-width: 15%;
    position: absolute;
    right:0;
    background-color: rgb(42, 59, 59);
    color:white;
    text-align:right;
}

nav li{
    float:right;
    list-style-type: none;
    display:inline;
    border-style: solid;
    border-width: 10px;
    border-color: transparent;
}

.MainImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
}

#SideImage{
    width:90%;
}

footer{
    position:absolute;
    bottom:-0;
    background-color: rgb(26, 37, 37);
    width: 100%;;
}